body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

main {
    padding: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}


.contact-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form label {
    margin: 10px 0 5px;
}

.contact-form input, .contact-form select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.features {
    text-align: left;
    margin-top: 40px;
    padding: 20px;
}

.features h3 {
    font-weight: bold;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features li {
    margin: 10px 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial, .contact-form {
        width: 90%;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: white;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    :root {
        --primaryTextColor: #232e35; /* Untuk title atau judul */
        --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */
      
        --borderColor: #f1f1f1;
        --lineColor: #d9d9d9; /* untuk line di pre-title */
      
        --primaryBackgroundColor: #fff;
        --secondaryBackgroundColor: #fbfbfb;
        --thirdBackgroundColor: #f5f3fe;
      
        --primaryIconColor: #7e74f1;
        --primaryIconColorHover: #5d51e8;
      
        --sectionPadding: 6rem 0;
      
        --itemBorderRadius: 0.7rem;
      }
    #portfolios {
        padding: var(--sectionPadding);
      }
      
      .portfolio {
        border-radius: var(--itemBorderRadius);
        overflow: hidden;  1px solid var(--borderColor);
      }
      
      .portfolio-cover {
        height: 250px;
      }
      
      .portfolio img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .portfolio-info {
        padding: 2rem 1.5rem;
      }
      
      .portfolio-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      }
      
      .portfolio h4 {
        font-weight: 500;
        font-size: 1.05rem;
      }
      
      .portfolio-title a svg:hover {
        fill: var(--primaryIconColor);
      }
      
      .portfolio-title a svg {
        transition: 0.2s ease-in-out;
      }
      
      .portfolio-tags {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
      }
      
      .portfolio-tags div {
        font-size: 0.9rem;
        border: 1px solid var(--borderColor);
        padding: 0.4rem 1rem;
        color: var(--secondaryTextColor);
      }
      
      .portfolio-tags div {
        font-size: 0.9rem;
        border: 1px solid var(--borderColor);
        padding: 0.4rem 1rem;
        color: var(--secondaryTextColor);
      }
      .grid-3 {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 3rem;